:root{
    --mainColor:#aae1df;
    --secondaryColor: #ed145b;
    --letterColor:black;
}
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

html{
    font-size:62.5%;
}

header{
    width:100%;
    height: 265px;
    padding:25px;
    background: linear-gradient(125deg, rgba(237,20,91,1) 10%, rgba(170,225,223,1) 58%);
    position:relative;
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}

header .title-container{
    font-size: 3.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:var(--letterColor);
    margin-bottom: 15px;
    

}


header .subtitle-container{
    font-size: 2.0rem;
    line-height: 2.0rem;
    font-weight: 500;
    color:var(--letterColor);
    font-weight: 500;
    margin-bottom: 10PX;

}

.container{
    width:100%;
    height: 100vh;
    display:grid;
    place-items: center;
    background-color: var(--secondaryColor);
}

.logo{
    width:200px;
    height: 150px;
    position: absolute;
    top:200px;
    left:calc(100% - 250px);


}
.currencySymbols-container{
    width:288px;
    height: 330px;
    display:flex;
    align-items: center;
    flex-direction: column;
    padding: 35px;
    gap:15px;
    background-color: var(--mainColor);
    border:none;
    border-radius: 8px;
    box-shadow: 4px 8px 16px rgba(0,0,0,0.75);


}
.currencySymbols-container p{
    font-size: 2.1rem;
    line-height: 1.8rem;
    margin-bottom: 5px;
    font-weight: 300;
}
.symbolsCurrency-container{
    width:125px;
    height: 31px;
    border: none;
    padding:8px;
    border-radius: 8px;
    font-weight: 600;
    background-color: beige;
    box-shadow: 4px 8px 16px rgba(0,0,0,0.75);
}

.amountField{
    width:100px;
    height: 30px;
    padding:8px;
    outline: none;
    border:none;
    border-radius: 8px;
    box-shadow: 4px 8px 16px rgba(0,0,0,0.75);

}

.resultView{
    width:150px;
    height: 30px;
    
}

.resultsParragraph{
    color:yellowgreen;
    font-weight: bold;
    font-size: 2.5rem;

}